[mcu]
serial: /opt/printer_data/run/klipper_host_mcu.tty

[printer]
kinematics: none
max_velocity: 300
max_accel: 3000

[neopixel test]
pin: gpio0
chain_count: 20

[gcode_macro]

[delayed_gcode setdisplayneopixel]
initial_duration: 0
gcode:
    SET_LED_EFFECT EFFECT=sb_logo_busy

[led_effect sb_logo_busy]
autostart:              true
frame_rate:             24
leds:
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_logo_cleaning]
autostart:              true
frame_rate:             24
leds:
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)
	gradient 0.15 0.5 top $bb00e2, $00e2e2, $00e202

[led_effect sb_logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)
